body {
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    background-color: #111;
    margin: 0;
}

.navbar {
    padding: 20px;
    background-color: #222222;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar a, .navbar strong {
    margin-right: 15px;
    color: #919191;
}

main {
    padding-right: 10vw;
    padding-left: 10vw;
    color: #fff;
}

i {
padding-right: 5px;
}

h1{
    margin-bottom: 5px;
}

h2 {
    margin-top: 5px;
    padding-left: 5px;
    font-style: italic;
    font-size: small;
}

#featured-graphs {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#container {
    height: 30vw;
}

nav strong{
    color: #919191;
    border: solid 2px #919191;
    background-color: #111;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 15px;
    padding: 10px;
}

nav a{
    color: #919191;
    border: solid 2px #919191;
    background-color: #111;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 15px;
    padding: 10px;
}